/* --------------------------------------------------------------------------
 * >>> Skeleton :
 * -------------------------------------------------------------------------- */
 
body {
  position: relative;
  font-family: $mainFont;
  box-sizing: border-box;
  color: $mainColor;
}

// h1 {
//   font-weight: 900;
//   font-size: 30px;

//   @include md-up {
//     font-size: 45px;
//   }
//   @include lg-up {
//     font-size: 55px;
//   }
// }

// .container{
//   max-width: 100%;
//   width: 100%;
//   padding: 0 10px;
//   margin: 0 auto;

//   @include ml-up {
//     max-width: 336px;
//   }
//   @include md-up {
//     max-width: 750px;
//   }
//   @include lg-up {
//     max-width: 1180px;
//   }

// }